body{
    padding: 0;
    margin: 0;
}

img#contentBackground{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    
}

#topbar {
    width: 100%;
    height: 9vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
}

#topbar > img {
    height: 9vh;
    margin-left: 10px;
}

div#formContainer {
    height: 290px;
    width: 500px;
    border-radius: 8px;
    margin: 16% auto;
    padding: 10px;
    background-color: white;
    opacity: .98;
}

h1.boxHeader {
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    border-style: double none double none;
    border: 10px 0 10px 0;
    padding: 10px 0;
    margin-top: 10px;
    border-color: black;
}

input[type=text] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 8px 5px;
    margin: 15px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
}

button#loginButton {
    margin-top: 20px;
}

#loginForm {
    margin-top: 30px;
}

.button {
    background-color: #F1B82D;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    z-index: 10;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: mediumvioletred;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

div#newUserBox {
    height: 350px;
    width: 500px;
    border-radius: 8px;
    margin: 16% auto;
    padding: 10px;
    background-color: white;
    opacity: .98;
}

button#newUserButton {
    margin-top: 20px;
}